---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import heroImage from "@images/imagen_llaves.png";
import faqs from "@data/faqs.json";
import pricing from "@data/pricing.json";
import calculatingcosts from "@images/calculatingcosts.png";
import parejita from "@images/parejita.png";
import alquilerseguro from "@images/alquilerseguro.png";
const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <HeroSection
    title=`El puente hacia tu nuevo hogar <span
        class="text-yellow-500 dark:text-yellow-400">Sinergia Valores</span>`
    subTitle="Garantiza tu futuro hogar en segundos - Solicita una fianza con nosotros."
    primaryBtn="Solicita tu fianza"
    primaryBtnURL="/solicitud"
    secondaryBtn="Calcula costos"
    secondaryBtnURL="/contacto"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <FeaturesNavs
    title=`<span class="text-yellow-500 dark:text-yellow-400">Accede a tus sueños!</span>`
    tabs={[
      {
        heading: "Calcula Gratis",
        content:
          "Empower your projects with ScrewFast's cutting-edge tools. Experience enhanced efficiency in construction management with our sophisticated automated solutions.",
        svg: "tools",
        src: calculatingcosts,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Solicita Tu Fianza",
        content:
          "Navigate with ease using ScrewFast's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective workflow management.",
        svg: "dashboard",
        src: parejita,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Alquila Seguro",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: alquilerseguro,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        header: "Compatible",
        description:
          "Nuestros servicios están diseñados para integrarse fácilmente con tus sistemas actuales. No importa qué tecnología utilices, garantizamos una perfecta compatibilidad para facilitar tu trabajo diario.",
      },
      {
        header: "Seguro",
        description:
          "Protege lo que más importa con nuestras soluciones de seguros confiables. Contamos con coberturas adaptadas a tus necesidades para brindarte la tranquilidad que mereces en cada momento.",
      },
      {
        header: "Sencillo",
        description:
          "Hemos simplificado todo el proceso para que puedas gestionar tus seguros de manera rápida y fácil. Desde la cotización hasta la reclamación, todo se maneja de forma intuitiva y sin complicaciones.",
      },
      {
        header: "Confiable",
        description:
          "Confía en una empresa con años de experiencia y un historial probado de satisfacción del cliente. Estamos comprometidos a brindarte el mejor servicio y respaldo en todo momento.",
      },
    ]}
  />

  <!-- <PricingSection pricing={pricing} /> -->

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <!-- <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->
</MainLayout>
